@charset "utf-8";
* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
body { background:/* url(../images/home.png) no-repeat top center*/ #FFF; font-family: 'Ubuntu', sans-serif; }
ul { margin-bottom: 0; }
li { list-style: none; display: inline-block; }
p { text-align: justify; }
a:hover { text-decoration: none;transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
a { text-decoration: none; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;}
img { max-width: 100%; }
.wrapper, .header, .footer, .section { width: 100%; }
.inner-wrapper { margin: 0 auto; }
.header a { display: block;  }
.header a img { width: 100%; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
p { font-size: 13px; line-height: 24px; }

button,button:hover{transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;}
/*menu*/

.menuu { float: right; }
.menuu .navbar { margin-bottom: 0; border-radius: 0; float: none; display: inline-block; vertical-align: middle; min-height: inherit; }
.menuu .navbar-default { background: none; border: none; }
.menuu .container-fluid { padding: 0; margin: 0; }
.menuu .navbar-collapse { padding: 0; }
.menuu .navbar-default .navbar-nav > li { float: none; display: inline-block; padding: 0 32px; }
.menuu .navbar-default .navbar-nav > li > a { color: #31393f; padding: 32px 0; font-size: 14px; font-weight: 500; border-top: 3px solid transparent; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #117dc2; }
.menuu .navbar-default .navbar-nav > li > a:hover { }
.menuu .navbar-default .navbar-nav > li:hover { color: #fff; }
.menuu .navbar-default .navbar-nav > .active > a, .menuu .navbar-default .navbar-nav > li > a:hover, .menuu .navbar-default .navbar-nav > .active > a:focus { color: #117dc2; background: none; border-top: 3px solid #117dc2; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.right-head { }
.menuu .navbar-default .navbar-nav > li:hover .dropdown-menu { display: block; }
.menuu .form-control, .search .input-group-addon { background: none; border-radius: 0; border-color: #fff; }
.search { display: inline-block; vertical-align: middle; position: relative; padding-left: 62px; }
.slidingDiv { background-color: #292929; position: absolute; z-index: 999; top: 100%; width: 300px; right: 0; }
.show_hide { display: none; }
.search-box { position: relative; width: 100%; height: 90px; line-height: 90px; padding: 0 30px; }
.search-box input { background: none; border: 1px solid #fff; border-radius: 0; color: #fff; padding: 7px 15px; width: 100%; }
.slidingDiv .search-box a { position: absolute; right: 45px; top: 0; z-index: 999; height: auto; width: auto; }
/*menu*/




/*header section*/
header { }
.top-header { background: #31393f; padding: 12px 0 15px; }
.bot-header { }
.top-left-header li { display: inline-block; vertical-align: middle; font-size: 12px; padding-right: 10px; border-right: 2px solid #a0a9b1; margin-right: 10px; line-height: 12px; }
.top-left-header li:last-child { border-right: 0; }
.top-header li a { color: #a0a9b1; display: block; }
.top-left-header .fa { color: #117dc2; padding-right: 5px; }
.top-right-header li { padding-left: 16px; }
.logo { padding: 25px 0 21px; }
/*slider starts */


.slider .carousel-indicators li { width: 37px; height: 37px; background: #c4c5c7; border: none; border-radius: 0; text-indent: 0; line-height: 37px; color: #fff; margin: 0; }
.slider .carousel-indicators li:hover, .slider .carousel-indicators .active { background: #8e3985; }
.slider .carousel-control { width: auto; top: inherit; margin-top: 0px; background: #7a3777; bottom: 110px; }
.slider .item img { width: 100%; }
.slider .carousel-control{background:rgba(0,0,0,.5);  width: 80px; height: 80px; line-height: 80px; text-align: center;  z-index:99; font-size:24px; color:#fff; opacity:1; top:50%; margin-top:-40px;}
.slider .carousel-control:hover{background:rgba(17,125,194,.5);}
.slider .carousel-control.left { left: 0px;    }
.slider .carousel-control.right { right: 0px; }
.slider .carousel-indicators { width: auto; right: 0; left: inherit; margin: 0; bottom: 33px; }
.slider { }
.carousel-caption { bottom: 0; left: 0; padding-bottom: 0px; right: 0; top: 0; background: rgba(0,0,0,.5); text-shadow: none; padding-top:11%; }
.login-reg-box {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.73);
  border-radius: 2px;
  margin-left: 18px;
  padding: 25px 65px 20px;
}
.login-reg-box h2 { color: #31393f; margin: 0 0 24px 0; }
.slider-left-box {
  padding-right: 10%;
  padding-top: 8%;
  text-align: left;
}
.slider-left-box h1 { font-weight: 500; margin-top:0; }
.slider-left-box p { font-size: 15px; line-height: 30px; text-align: left; }
.form-group input.form-control { background: none; border: 1px solid #31393f; color: #31393f; font-size: 14px; font-weight: 300; border-radius: 3px; }
 .login-reg-box .form-control::-moz-placeholder {
 color: #31393f;
 opacity: 1;
}
.login-reg-box .form-control:-ms-input-placeholder {
 color: #31393f;
}
.login-reg-box .form-control::-webkit-input-placeholder {
 color: #31393f;
}
.login-box{position:absolute; top:0; right:0; left:0; padding-top:11%;}
.slider{position:relative;}
.slider-right-box{float:right; position:relative; z-index:9999;}


input[type=checkbox].css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
input[type=checkbox].css-checkbox + label.css-label { padding-left: 24px; height: 14px; min-height:14px; display: inline-block; line-height: 14px; background-repeat: no-repeat; background-position: 0 0; font-size: 14px; vertical-align: middle; cursor: pointer;   color:#31393f; font-weight:300;}
input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -14px; }
.css-label { background-image: url(../images/check.png);}
.checkbox{text-align:left;}

.blue-btn .btn{width:100%; background:#117dc2; font-size:14px; font-weight:300; color:#fff; margin-bottom:15px;}
.blue-btn .btn:hover{background:#31393f;}
.login-reg-box .form-group{margin-bottom:18px;}
.checkbox{margin:0 0 20px 0;}


/*footer*/
.top-footer{ background: #353e44; padding: 76px 0 35px; }
.top-footer ul { padding:3px 0 0; }
.top-footer li { display: block; font-size: 13px; color: #fff; border-bottom: 1px solid #485159; padding-bottom: 8px; margin-bottom: 6px; }
.top-footer .newslatter p{padding:0; color:#bbbbbb; line-height:22px;}
.newslatter .input-group {
  margin-top: 17px;
}
.top-footer li:last-child { border: 0; }
.top-footer li a { color: #bbbbbb; }
.top-footer h4 { font-size: 15px; font-family: 'Open Sans', sans-serif; font-weight: 700; color: #fff; padding-left:0; padding-bottom: 9px; text-transform: uppercase; }
.top-footer p { margin: 0; color: #bbb; text-align: left; position: relative; font-size: 13px; padding: 0 0 1px 30px; line-height: 25px; }
.top-footer p span { color: #bbb; }
.top-footer a { color: #bbb; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; }
.top-footer a:hover { color: #117dc2; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; }
.top-footer .add:after { position: absolute; content: ""; font-family: 'FontAwesome'; left: 0; top: 0; color: #bbb;  font-size:20px;}
.top-footer .tel:after { position: absolute; content: ""; font-family: 'FontAwesome'; left: 0; top: 0; color: #bbb; font-size:20px;}
.top-footer .email:after { position: absolute; content: ""; font-family: 'FontAwesome'; left: 0; top: 0; color: #bbb; font-size:20px;}

.top-footer .btn-default{background:#117dc2; border:0; color:#fff; font-size:13px;}
.top-footer .input-group .form-control{background:#40484d; border:0; color:#ffffff; font-size:13px;}
.footer-content{margin:0 -15px;}

.tweet p {
  color: #777777;
  line-height: 23px;
  padding-bottom: 16px;
  padding-left: 42px;
  position: relative;
}
.tweet p:after{ position: absolute; content: ""; font-family: 'FontAwesome'; left: 0; top: 7px; color: #bbb; font-size:22px;}
.tweet p a{color:#fff; display:block;}
.address p span{color:#fff;}
.top-footer .tweet h4 {
  padding-bottom: 13px;
}
.top-footer .address h4 {
  padding-bottom: 16px;
}
.top-footer .address p {
  line-height: 20px;
  padding-bottom:10px;
}

.bottom-footer{background:#31393f; padding:25px 0;}
.bottom-footer p{color:#a0a9b1; font-size:13px; margin:0;}


/*footer*/



/*second-section*/
.second-section{background:#fcfcfc; padding:57px 0 30px;}
.left-img img{width:100%;}
.left-img {
  padding-right: 30px;
}
.right-section{padding-left:34px;}
.right-section li{position:relative; padding-left:50px; margin-bottom:25px;}
.right-section li:after{position:absolute; left:0;top:-8px; width:40px; height:40px; line-height:40px; text-align:center; font-family: 'FontAwesome'; content:"";  border-radius:100%; background:#2787c4; color:#fff;}
.right-section li p{color:#666; text-align:left;} 
.right-section li h4{color:#31393f; margin-top:0; font-weight:400; margin-bottom:14px;}
.right-section ul {
  margin-top: 36px;
}



/*slider-fit */



    #fit-slider .item{
    margin: 3px 15px;
    }
    #fit-slider .item img{
    display: block;
    width: 100%;
    height: auto;
    }
    
 /*    .fit-slider .owl-wrapper-outer {
  margin: 0 -20px 0 0;
}*/
    .slider-inner { margin:0 -15px;}
    .fit-slider{background:url(../images/pat.jpg) no-repeat; background-size:cover; padding:58px 0 62px;}
    .fit-slider h5{font-size:16px; color:#31393f; font-weight:400; margin:20px 0 0;}
    
    .owl-prev,.owl-next{width:90px; height:44px; background:#fff; margin:0 8px; border:1px solid #e2e2e2; line-height:44px; text-align:center; font-weight:500; font-size:12px; text-transform:uppercase; display:inline-block; vertical-align:middle;}
    .owl-prev:hover,.owl-next:hover{background:#509ecf; color:#fff;}
   .owl-controls {
  margin: 55px 0 0;
  text-align: center;
}



/*overlay section*/

.testimonial {
    background: url("../images/run.jpg") no-repeat fixed 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 405px;
    text-align:center;
    color:#fff;
   
}
.testimonial-img {
    background: rgba(0,0,0,.65);
    height: 100%;
    width: 100%;
     padding:50px 0
}

.heading{display:inline-block; position:relative; background:url(../images/dumble.png) no-repeat center bottom; text-align:center; padding-bottom:12px;}
.heading:after{background:#fff; height:1px; width:70px; content:""; left:50%; margin-left:34px;  bottom:8px; position:absolute;}
.heading:before{background:#fff; height:1px; width:70px; content:""; right:50%; margin-right:34px;  bottom:8px; position:absolute;}
.heading h1{font-weight:400; margin:0 0 4px;}
.heading h3{font-size:21px; font-weight:300; margin-bottom:20px;}
.heading{margin-bottom:60px;}




    #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    }

.test-img{width:100px; float:left; }
.text-text{float:left; width:85%; padding-left:22px; text-align:left;}
.text-text p{color:#fff; margin:12px 0 16px;}
.date{font-size:12px; text-transform:lowercase; color:#ddd;}
.client-name{font-size:13px; color:#ddd;}

.testimonial .owl-prev,.testimonial .owl-next{right:0; display:block; margin:2px 0; width:50px; height:50px; line-height:50px; position:relative; background:#fff; border:0;font-size:0;}
.testimonial .owl-prev:hover,.testimonial .owl-next:hover{background:#117dc2;}

.testimonial .owl-controls {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.testimonial .owl-prev:after{ content: "";    }
.testimonial .owl-next:after{content: ""; }
.testimonial .owl-prev:after, .testimonial .owl-next:after{position: absolute; font-family: 'FontAwesome'; text-align:center; color: #c3c8cb; font-size:13px; left:0; right:0;}
.testimonial .owl-prev:hover:after, .testimonial .owl-next:hover:after{color:#fff;}


/*blog section*/

.blog-section{text-align:center; padding:54px 0 55px;}

.blog-section .heading{ background:url(../images/dumble1.png) no-repeat center bottom;  }
.blog-section .heading:after{background:#117dc2;}
.blog-section .heading:before{background:#117dc2;}

.blog-section .heading h3{margin-top:15px; margin-bottom:25px;}
.blog-content{margin:0 -15px;}
.blog-left{float:left;}
.blog-right{float:right; color:#117dc2; font-size:13px; padding-right:5px;}
.month,.comment{float:left; display:block; color:#fff; font-size:11px; line-height:11px; }
.month{background:#117dc2;padding:4px 15px 5px; height:20px;}
.comment{background:#2ba1ec; padding:4px 7px 3px; height:20px;}
.blog-image {
  margin-bottom: 16px;
}
.blog-text{text-align:left;}
.blog-text h5 {
  color: #252525;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 17px;
}
.blog-text p{color:#777777; text-align:left; margin-bottom:0;}
.quote{color:#fff; padding:40px 0 45px; background:url(../images/blue-pat.jpg) no-repeat; background-size:cover;}
.quote h2{font-weight:400; font-size:26px; margin-bottom:6px;}
.quote p{color:#eee; font-size:13px;}
.quote-right.blue-btn .btn{background:none; font-size:12px; text-transform:uppercase; border:1px solid #fff; border-radius:0; margin:26px 0 0 0; padding:12px 27px; font-weight:700;}




/*about html */

.banner-img{position:relative;}
.overlay{background:rgba(0,0,0,.6); position:absolute; top:0; left:0; right:0; bottom:0;}
.about-second-section img{border:1px solid #e9e5e5;}
.about-second-section p{font-size:14px; text-align:left; padding-bottom:6px;}
.about-second-section .left-img {padding-right:15px;}

.get-started{text-align:center; padding:54px 0 55px;}

.get-started .heading{ background:url(../images/dumble1.png) no-repeat center bottom;  padding-bottom:40px; }
.get-started .heading:after{background:#117dc2;}
.get-started .heading:before{background:#117dc2;}
.get-center .form-group input.form-control {
    border: 1px solid #d0cece;
    border-radius: 0;
    box-shadow: none;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
}
.get-center .form-group {
    margin-bottom: 30px;
}

.get-center .blue-btn .btn{width:auto; margin:0 auto; font-size:21px; border-radius:0; padding:8px 45px; margin-top:20px;}

/*blog-page css*/
.blog-section-box{background:#fff;}
#blog-page .item { width: 30.5%; margin: 0 15px 30px; }
.blog-head{border-bottom:1px solid #dad9d9; padding-bottom:20px; margin-bottom:25px;}
#blog-page .item .blog-image img{width:100%;}
#blog-page.blog-content{margin:0 -15px;}

#blog-page .blog-head h5{font-size:18px; color:#666; font-weight:700; padding-bottom:5px;}
.bloger-name{padding:15px 0 0;}
.bloger-name h5{float:left; margin:0; color:#666666; font-size:14px;}
.blog-view-like{float:right;}
.views,.likes{display:inline-block; vertical-align:bottom; color:#2ba1ec; font-size:14px;}
.views{padding-right:15px;}
.views .fa,.likes .fa{padding-left:5px;}
#blog-page .blog-box {
  background: none repeat scroll 0 0 #f9f9f9;
}

.blog-section-box .blog-text{padding:10px 15px 20px;}
.blog-section-box  .blue-btn .btn{width:auto; margin:0 auto 30px; font-size:12px; border-radius:0; text-transform:uppercase; font-weight:700; padding:8px 45px; margin-top:20px;}
.blog-section-box  .blue-btn{text-align:center;}
.banner h1{padding-top:6.5%; color:#fff; font-size:31px;}
.breadcrumb-custom{background:#31393f; padding:20px;}
.breadcrumb-custom .breadcrumb{background:none; border:0; border-radius:0; font-size:13px; color:#fff; margin:0; padding:0;} 
.breadcrumb-custom .breadcrumb a{color:#fff;}
.breadcrumb-custom .breadcrumb li:nth-child(2):before{opacity:0; }
.breadcrumb-custom .breadcrumb li.active{color:#fff;}


/*Gallery*/
.filter{padding:49px 0;}
.filter li a{color:#727c89; font-size:13px;}
.filter li a span{display:inline-block; width:25px; height:25px; margin-left:5px; border-radius:50%; text-align:center; color:#39414b; line-height:25px; background:#eeeeee;}
.filter li.active a span{color:#fff; background:#2787c4;}
.filter li{border-right:2px solid #e9e9e9; padding-right:15px; margin-right:15px;}
.filter li:last-child{border:0;}
.galary-image {position:relative;}
.galary-image > img{border:2px solid #fff; width:100%;}
.galary-image:hover .overlay-gal{opacity:1; width:100%; left:0; top:0; bottom:0; right:0; height:auto; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;}
.overlay-gal{position:absolute;  width:0; height:0; background:rgba(49,57,73, .7); text-align:center; opacity:0; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }
.overlay-gal img{position:relative; top:50%; margin-top:-30px;  opacity:0;}
.galary-image:hover .overlay-gal img{ opacity:1;}
.gallery-video{padding-top:100px;}
.pagination-custom{text-align:right; padding:25px 0 100px;}
.pagination-custom .pagination{margin:0 -3px; border-radius:0; border:0; }
.pagination > li > a, .pagination > li > span{border:0; border-radius:0;}
.pagination  li a {border:1px solid #e4e4e4;  color:#666666; font-size:12px ; margin:0 3px; height:45px; width:45px; line-height:45px; text-align:center; padding:0; font-weight:700;}
.pagination  li {}
.pagination > li:first-child > a, .pagination > li:first-child > span,.pagination > li:last-child > a, .pagination > li:last-child > span{border-radius:0;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus,.pagination > li > a.active{border:1px solid #529fd0; background:#529fd0; color:#fff;}



/*contact-us */

.contact-icon{background:#117dc2; color:#fff; width:54px; height:54px; line-height:54px; text-align:center; float:left;}
.contact-text{background:#f6fcfe; color:#252525; font-size:18px; height:54px; padding-left:80px; line-height:54px;}
.contact-text a{color:#252525;}
.contact-list p{color:#777777; padding-top:15px;}
.contact-top{margin:0 -15px; padding:60px 0;}
.contact-heading h2{font-size:31px; color:#252525; margin:15px 0 0 0;}
.contact-heading h5{color:#117dc2; font-size:15px; text-transform:uppercase; margin:0; }
.contact-heading{position:relative; padding-bottom:20px; margin-bottom:25px;}
.contact-heading:after{position:absolute; content:""; background:#ddd; width:70px; height:1px; bottom:0; left:0;}

.contact-info .add:after {
  color: #666666;
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
}
.contact-info  .address p {
  line-height: 20px;
  padding-bottom: 10px;
}
.contact-info  p{text-align:left;}

.contact-info .address-box p {
  color: #666666;
  font-size: 13px;
  line-height: 25px;
  margin: 0;
  padding: 0 0 1px 30px;
  position: relative;
  text-align: left;
}
.contact-info .tel:after {
  color: #666666;
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
}
.contact-info .email:after {
  color: #666666;
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
}
.address-box p span{color:#117dc2;}
.address-box p a{color:#666;}
.input-group label{float:none; display:block; font-size:13px; font-weight:normal;margin-bottom:10px;}
.input-group label span{color:#ce292d; }
.form-box{display:table; margin-bottom:15px;}
.form-box .input-group-addon {background:#e5f1f5; border-right:0; border-color:#ddd; color:#888888;}
.form-box .form-control{border-left:0;}
.half-width{width:50%;}
.full-width{width:100%;}
.form-box textarea{min-height:100px;}
.conatct-form .blue-btn{text-align:right;}
.conatct-form .blue-btn .btn{width:auto;  font-size:12px; border-radius:0; text-transform:uppercase; padding:8px 45px; margin:10px 0 60px; font-weight:700;}


/*register page starts*/
.login-inner-pages{background:url(../images/bg-image.jpg) no-repeat center bottom; background-size:cover; padding:60px 0 300px;}
.register-box{background:rgba(255,255,255,.8); padding:50px 5px 150px;}
.register-head{background:rgba(17,125,194,.8); border-radius:5px 5px 0 0; padding:0px 20px; height:47px; font-size:15px; color:#fff; line-height:47px;}
.register-footer{background:rgba(17,125,194,.8); border-radius: 0 0 5px 5px; padding:0px 20px; height:47px; font-size:15px; color:#fff; line-height:47px;}
.register-box .form-group{width:100%; margin-bottom:40px;}
.register-box .form-group label{color:#31393f; font-weight:400; font-size:15px; display:block; margin-bottom:20px;}
.register-box .form-group input{background:#abc1cf; color:#000; border:0; color:#666; font-size:13px; height:45px;}

.register-box .form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
.register-box .form-control:-ms-input-placeholder {
  color: #666;
}
.register-box .form-control::-webkit-input-placeholder {
  color: #666;
}

.register-box .btn-default, .register-box .btn-default:hover,.register-box .btn-default:focus,.register-box .btn-default.focus,.register-box .btn-default:active,.register-box .btn-default.active, .open > .dropdown-toggle.btn-default{background:#abc1cf; border:0; height:45px; color:#666; font-size:13px; box-shadow:none;}
.register-box .dropdown-menu li{display:block;}
.register-box{}
.register-box .input-group-addon{background:#abc1cf; border:0; color:#666666; box-shadow:none;}
.register-box .form-control{box-shadow:none;}
.register-box .blue-btn{padding-left:20px; width:auto;}
.register-box .blue-btn .btn{width:auto; padding:15px 65px; border-radius:0; font-size:15px;}
.breadcrumb li span{padding-left:15px;}

#user_registartion select {
    height: 45px !important; 
    background: #abc1cf !important;
    border: 0 !important;
    color: #666;
    font-size: 13px !important;
    box-shadow: none !important;
    width: 100%;
}